* {
    cursor: url("../img/cursor.png"), auto;
}

@font-face {
    font-family: "Minecraftia";
    src: url("../fonts/minecraftia.ttf");
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Minecraftia";
    color: #ffffff;
    background-color: #000000;
    background-image: url("../img/wallpapers/wallpaper_1.png");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#desktop {
    height: 100%;
    width: 100%;
    position: fixed;
}

#desktop .icon {
    width: 150px;
    height: 88px;
    margin: 4px;
    padding: 4px 1px;
    position: absolute;
    text-align: center;
    line-height: 32px;
    user-select: none;
}

#desktop .icon:hover {
    margin: 0;
    border: #52338f 4px solid;
    background: #302050c0;
}

#desktop .icon img {
    margin: 0 40px;
    width: 64px;
    height: 64px;
    filter: drop-shadow(2px 2px 0px #000000);
    pointer-events: none;
}

#desktop .icon span {
    height: 23px;
    padding: 0 2px;
    display: inline-block;
    font-size: 16px;
    background: #000000;
    color: #9664ff;
}

#taskbar {
    width: 100%;
    height: 60px;
    padding: 4px;
    bottom: 0;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: #9664ff 4px solid;
    background: #000000;
    color: #9664ff;
}

#taskbar .button {
    width: 182px;
    height: 48px;
    margin: 0 4px 0 0;
    padding: 8px;
    float: left;
    display: inline;
    box-sizing: border-box;
    background: #9664ff;
    color: #000000;
    user-select: none;
}

#taskbar .button:hover {
    background: #aa82ff;
}

#taskbar .button img {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    pointer-events: none;
}

#taskbar #tb-leftpane {
    margin-right: 8px;
}

#taskbar #tb-leftpane span {
    line-height: 58px;
    text-align: center;
}

#taskbar #tb-leftpane #tb-hide {
    height: 32px;
    width: 32px;
    margin-left: 4px;
    display: inline-block;
    background-image: url("../img/icons/icon_hide_taskbar.png");
}